<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>WeatherWatch</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }
    .main.container {
      margin-top: 7em;
    }
    .wireframe {
      margin-top: 2em;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>

</head>
<body>

<%= render 'layouts/top_bar' %>

<% unless @containerless %>
    <div class="ui main container">
<% end %>

<% unless flash[:notice].nil? %>
    <div class="ui message transition">
      <i class="close icon"></i>
      <div class="header">
        Notice!
      </div>
      <p><%= raw(flash[:notice]) %></p>
    </div>
    <script>
      $('.message .close')
          .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
          })
      ;
    </script>
<% end %>

<%= yield %>

<% unless @containerless %>
    </div>
<% end %>

<%= render 'layouts/footer' %>

</body>
</html>
